.tube {
  --padding-tube:.85rem;
  color:var(--white-color);
  border-radius:var(--radius);
  background-color: #F6F6F6;
  overflow: hidden;
}

.tube > .title{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-block:0 var(--padding-tube);
  padding: var(--padding-tube);
  font-size:1.125rem;
  font-weight:var(--weight-bold);
  background:var(--primary-color);
}

.title > i {
  font-size:2rem;
  transition: var(--regTransi);
}



.product-panel{
  width:45%;
}

@supports(height:calc-size(auto)) {

  .product-panel:hover {
    height:calc-size(auto);
  }

}

.panel-container{ 
  max-height:0;
  /* margin-block:.5rem; */
  margin-block:0;
  font-size:1.125rem;
  color:var(--black-color);
  padding-inline:var(--padding-tube);
  overflow: hidden;
  transition: max-height .33s ease-in-out;
}

/* .panel-container .content {
  margin-block:0;
  font-size:1.125rem;
  color:var(--black-color);
  padding:var(--padding-tube);
} */

.tube:hover{
  cursor:pointer;
}

.tube.reversed > .panel-container {
 max-height:var(--max-height);
}

.tube.reversed .title > i  {
  transform: rotateX(.5turn);
}


.soft-skill {
  margin:2rem auto;
  width:65%;
  /* text-align: center; */
  font-size:1.2rem;
  transition: var(--regTransi);
}

.soft-skill .title {
  margin-block:0;
}