


:root {

  --primary-color:#FF6060;
  --second-color:var(--grey-color);
  --third-color:#535bf2;
  --grey-color:#C4C4C4;
  --black-color:#000;
  --white-color:#FFF;
  --debeug-color:#FF00FF;
  --debeug-color-alt:tomato;
  

  --body-font-family:"Montserrat", sans-serif;
  --body-font-size:1.15rem;
  --body-font-weight:400;

  --weight-regular:400;
  --weight-medium:500;
  --weight-bold:700;

  --title-font-family:var(--body-font-family);
  --title-font-size:1.15rem;
  --line-height:1.4;
  
  --cta-button-font-size:1.2rem;
  --cta-button-color:var(--white-color);
  --cta-button-weight:600;
  --cta-button-background:var(--main-color);

  --star-default-color:var(--second-color);
  
  --radius:5px;
  --regTransi:all .26s ease-in-out;
  }


  * {
    box-sizing: border-box;
  }

  body {
    --layout:"Desk";
    --skeleton:1240px;
    font-family:var(--body-font-family);
    font-size:var(--body-font-size);
    font-weight:var(--body-font-weight);
    margin: 0;
    padding: 0;
  }

  #root{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }

a {
  text-decoration: unset;
  transition: var(--regTransi);
}

a:hover {
  color: var(--third-color);
}

.skeleton{
  width:var(--skeleton);
  margin: 0 auto;
  /* display: flex;
  flex-direction: column;
  height:100dvh; */
}

.content-first {
  margin-block:auto
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}


.debeug {
  outline:4px dotted var(--debeug-color);
}

.debeug-alt {
  outline:2px dashed var(--debeug-color-alt);
}


h1 {
  font-size: 3.2rem;
  line-height: 1.1;
}

button {
  border-radius: var(--radius);
  border: 1px solid transparent;
  padding: 0.5rem 1.25rem;
  font-size: 1.1rem;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition:var(--regTransi);
}

button:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.btn-cta{
  width:fit-content;
  background-color: var(--third-color);
  color:var(--white-color);
  transition: var(--regTransi);
}

.btn-cta:hover {
  /* width:150px; */
  border-color: currentColor;
  background:var(--black-color)
}



/* MEDIA QUERIES */
@media all and (min-width:1300px){
  body {
    --layout:"Large-Desk";
    --skeleton:90%;
  }
}

@media all and (max-width:1000px){
  body {
    --layout:"Tab";
    --skeleton:960px;
  }
}


@media all and (max-width:600px){

  :root{
    --line-height:1.15;
    --title-font-size:1.15rem;
  }

  body {
    --layout:"Mobile";
    --skeleton:90%;
  }

  /* HEADER */
  .banner-header img{
    max-width:60%;
  }

  /* NAV */
  .nav-link {
    font-size: .9rem;
  }
  .nav-link:nth-of-type(2) {
    display: none;;
  }

  /* HERO */
  .content-first .hero {
    height:120px;
  }

  .content-first .hero .title {
    font-size: 1.5rem;
  }
  

  /* FOOTER */
  .copyright {
    font-size: .8rem;
  }

  /* ANNONCE */
  .logement .product-name{
    font-size:1.25rem;
  }

  .logement .product-location{
    font-size:.875rem;
  }

  .logement .tag {
    font-size:.625rem;
  }

  .logement .fa-star{
    font-size:1rem;
  }

  .logement .side-right {
    width: 100%;
    justify-content: space-between;
    flex-flow:row-reverse;
  }

  .logement .star {
    align-self: center;
  }

  .logement .side-bottom {
     flex-wrap: wrap;
  }

  .logement .product-panel {
    width:100%;
    margin-bottom: calc(2 * var(--padding-tube));
  }

  .logement .product-owner{
    font-size:12px;
  }

  .logement .product-panel > .title {
    --padding-tube:.5rem;
    font-size:13px;
  }

  .logement .panel-container {
    font-size:13px;
  }


}